body {
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    min-width: 300px;
    max-width: 100%;
}

.control {
    border-radius: 10px;
    background-color: rgb(0,32,80);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma;
    font-size: 14px;
    padding: 5px 10px;
}

.control:hover {
    background-color: rgb(220,220,220);
    color: rgb(0,32,80);
}

.control:active {
    background-color: rgb(180,180,180);
    color: rgb(0,32,80);
}

.control-disabled {
    background-color: rgb(35,35,35);
    cursor: default;
}

.divider {
    border-top: solid 1px;
}

.input-text {
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    color: rgb(0,0,0);
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 95%;
}

.input-text:hover {
    background-color: rgb(243,241,241);
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
}

.input-text:focus {
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 4px;
}

.input-textarea {
    resize: none; 
    height: 48px; 
    max-height: 48px; 
    overflow-y: auto;
}

.input-list {
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    color: rgb(0,0,0);
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    display: inline;
    width: 95%;
}

.input-list::-ms-expand {
    display: none;
}

.input-list:hover {
    background-color: rgb(243,241,241);
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
}

.input-list:focus {
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 4px;
}

.label {
    cursor: default;
    color: rgb(68,68,68);
    font-family: 'Segoe UI', Tahoma, Arial;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    min-width: 100px;
    width: 100px;
    float: left;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.remove-button {
    cursor: pointer;
}

.remove-button:hover {
    opacity: 0.5;
}

.remove-button:active {
    opacity: 1;
}

.row{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.validation-error{
    color: rgb(255,0,0);
}

#loading{
    position: fixed;
    top: 5px;
    right: 5px;
}
