body{
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
}

.input-text{
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    color: rgb(0,0,0);
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80%;
    min-width: 100px;
    display: inline;
}

.input-text:hover{
    background-color: rgb(243,241,241);
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
}

.input-text:focus{
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 4px;
}

.noselect{
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.row{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.row-label{
    color: rgb(68,68,68);
    float: left;
    font-family: 'Segoe UI', Tahoma, Arial;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 10%;
}

.ui-autocomplete{
    max-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    background-color: rgb(255,255,255);
}

.ui-autocomplete.source:hover {
    background-color: rgb(215,235,249);
    border: solid;
    border-radius: 3px;
    border-color: rgb(204,204,204);
}

.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
    color: rgb(0,0,0);
    background: none!important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-color: rgb(215,235,249);
    color: rgb(0,0,0);
    border: none;
    border-radius: 3px;
    font-weight: normal;
}
